<h1>Your planets</h1>
<div class="cards">
  <% @orders.each_with_index do |order, index| %>
    <%= link_to planet_path(order.planet) do %>
      <div class="card-trip">
        <img src=<%= order.planet.image ? order.planet.image : "https://source.unsplash.com/random/?planet" %> alt="">
        <div class="card-trip-infos">
          <div>
            <h2><%= order.planet.name %></h2>
          </div>
          <h2 class="card-trip-pricing">US$ <%= order.planet.price %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
