<div class="abouth1">
  <h1>About Us</h1>
</div>
  <div class="galaxy">
    <h2>In a Galaxy Far, Far Away...</h2>
  </div>
  <div class="about">
    <p>Just kidding. Since the earthlings are breaking technological barriers with their space missions in recent times,
     we decided to create a team that seeks to facilitate the negotiation of the most diverse types of planets.
     Perhaps our team is composed of Cosmic Entities? Who knows?</p>
  </div>
