// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
body {
  background-image: image-url("stars-wpp.jpg");
  color: white;
  background-size: cover;
  width: 100vw;
  background-position: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  margin-bottom: 40px;
  margin-top: 10px;
}

li {
  color: white;
}
