// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-image: image-url("new_background.jpg");
  overflow-x: hidden;
  // overflow: auto;
  color: #F3E9DC;
  background-size: cover;
  width: 100vw;
  background-position: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #F3E9DC;
  margin-bottom: 100px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  text-shadow: 2px rgb(0, 0, 0);
}

li {
  color: #F3E9DC;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 50px;
  text-shadow: 2px rgb(0, 0, 0);
}

h4 {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 100px;
  text-shadow: 2px rgb(0, 0, 0);
}

h3 {
  margin-top: 80px;
  font-size: 40px;
  text-shadow: 2px rgb(0, 0, 0);
}

footer {
  margin-top: 120px;
  color: rgb(243, 126, 0);
  text-align: center;
  font-size: 18px;
}

.space-invader {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.teste {
  margin-top: 20px;
  text-align: center;
}

.create-button {
  text-align: center;
  margin-top: 50px;
}

.yes {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 130px;
}

.no {
  text-align: center;
}

.buy-planet {
  margin-bottom: 50px;
}

.container-buy{
  text-align: center;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin-top: 30px;
}

.galaxy {
  text-align: center;
  color: yellow;
  background-color: black;
}

.about {
  width: 500px;
  margin: auto;
  text-align: justify;
  font-size: 24px;
  background-color: black;
}

.abouth1 {
  text-shadow: 2px rgb(0, 0, 0);
}
